:root {

  /* Colors */

  --white: #FFFFFF;
  --black: #000000;
  --navy-200: #BBC0FF;
  --navy-800: #33397A;
  --navy-900: #1C204B;
  --navy-950: #0E1323;
  --orange-300: #FF8B64;
  --purple-500: #7078C9;
  --purple-600: #5747EA;
  --purple-700: #7335D2;
  --blue-300: #55C2E6;
  --pink-400: #FF5E7D;
  --green-400: #4BCF82;
  --yellow-300: #F1C75B;
  --grey-200: #D8D8D8;

  /* Spacing */

  --space-0: 0px;
  --space-100: 8px;
  --space-200: 16px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;

  /* Text Presets */

  .text-one {
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      font-size: 56px;
      line-height: 66px;
  }

  .text-two {
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      font-size: 40px;
      line-height: 47px;
  }

  .text-three {
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 38px;
  }

  .text-four {
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      font-size: 24px;
      line-height: 28px;
  }

  .text-five-med {
      font-family: "Rubik", sans-serif;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
  }

  .text-five {
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
  }

  .text-six {
      font-family: "Rubik", sans-serif;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
  }

}

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 900;
  font-style: normal;
}

*,*::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--navy-950);
  color: white;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

#container {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
}

#user {
  background-color: var(--navy-900);
  border-radius: 16px;

}

#user-top {
  background-color: var(--purple-600);
  border-radius: 16px;
  padding: 2.5rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#inner-user {
  display: flex;
  flex-direction: column;
  
}


#timeframes {
  background-color: var(--navy-900);
  padding: var(--space-200);
  display: flex;
  justify-content: center;
  gap: 12%;
  padding-block: 1.5rem;
  border-radius: 16px;
}

#timeframes button {
  font-family: inherit;
  border: none;
  background-color: inherit;
  color: var(--purple-500);
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
}

#timeframes button:hover {
  cursor: pointer;
  color: white;
}

#card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  padding-block-start: 2.5rem;
  background-repeat: no-repeat;
  background-position: top -8px right 5px;
  border-radius: 16px;
  display: flex;
  
}

#work {
  background-image: url("images/icon-work.svg");
  background-color: var(--orange-300);
}

#play {
  background-color: var(--blue-300);
  background-image: url("images/icon-play.svg");
}

#study {
  background-color: var(--pink-400);
  background-image: url("images/icon-study.svg");
}

#exercise {
  background-color: var(--green-400);
  background-image: url("images/icon-exercise.svg");
}

#social {
  background-color: var(--purple-700);
  background-image: url("images/icon-social.svg");
}

#self-care {
  background-color: var(--yellow-300);
  background-image: url("images/icon-self-care.svg");
}

.content {
  display: flex;
  flex-direction: column;
  
  background-color: var(--navy-900);
  border-radius: 16px;
  padding: 1.5rem;
  width: 100%;
}

.content:hover {
  background-color: var(--navy-800);
}

.content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
/* Typography */

h1 {
  margin: 0;
  font-weight: 300;
  font-size: 26px;
  line-height: 47px;
}

h2 {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px; 
}

#user-top p {
  color: var(--grey-200)
}



#inner-user p {
  margin: 0;
}

.current {
  font-weight: 300;
  font-size: 36px;
  line-height: 66px;
}

.prev {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--navy-200);
}

.content-bottom p {
  margin: 0;
}

.white {
  color: white !important;
}

/* Images */

img {
  max-width: 100%;
}

#jeremy-pic {
  width: 70px;
  border: 3px solid white;
  border-radius: 50%;
}


@media (min-width: 768px) {
  
  body {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #container {
      width: 90%;
      max-width: 800px;
  }

  #card-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 225px 225px;
  }

  .content {
      gap: 1rem;
      padding: 2rem;
  }

  .content-bottom {
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;
  }

  .current {
      font-size: 50px;
  }
}



@media (min-width: 1400px) {
  

  #container {
      flex-direction: row;
      justify-content: center;
      max-width: 1250px;
      
  }

  #user {
      width: 240px;
      
  }

  #card-container {
      grid-template-columns: repeat(3, 240px);
      grid-template-rows: 1fr 1fr;
  }

  #user-top {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 5rem;
  }

  #timeframes {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
  }
}